[submodule "ui"]
	path = ui
	url = https://github.com/Jacob-C-Smith/ui
[submodule "extern/array"]
	path = extern/array
	url = https://github.com/Jacob-C-Smith/array
[submodule "extern/dict"]
	path = extern/dict
	url = https://github.com/Jacob-C-Smith/dict
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/Jacob-C-Smith/json
[submodule "extern/ui"]
	path = extern/ui
	url = https://github.com/Jacob-C-Smith/ui
